<div class="p-grid" id="tableau-section">
  <div class="p-col" *ngIf="cols && dataParHeure">

    <p-table [columns]="cols" [value]="dataParHeure" [scrollable]="true"
             [style]="{width: '1000px'}"
             frozenWidth="160px"
             [reorderableColumns]="true"
             [scrollHeight]="'500px'"
    >

      <ng-template pTemplate="frozenheader">
        <tr style="height: 71px">
          <th style="width:160px">
            heure
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="frozenbody" let-col let-index="rowIndex">
        <tr style="height: 38px">
          <td class="heure-col" style="width:160px; text-align: center; border-right: 2px solid lightgray;">
            {{dateHeure[index]  | date: 'yyyy-MM-dd HH:mm'}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="frozenfooter" let-col let-index="rowIndex">
        <tr style="height: 38px">
          <td class="heure-col" style="width:160px; text-align: center">
            Total
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" style="width:250px">
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr id="tableau-header" style="height: 71px">
          <th *ngFor="let col of columns; let i = index" pReorderableColumn
               style="position: relative; padding-top: 10px">

            <span class="enlever-colonne pi pi-times" (click)="onEnleverColonne(col.cleDonnee)"></span>
            <span style="display: block; line-height: 1.1em">{{col.header}}</span>
            <span style="line-height: 1em; vertical-align: top;">{{col.cleDonnee}}</span>

          </th>
        </tr>
      </ng-template>


      <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
        <tr style="height: 38px">
          <td *ngFor="let col of columns; let i = index"
              style="text-align: center">

            <span >{{rowData.data.get(col.cleDonnee).valeur}}</span>

          </td>
        </tr>
      </ng-template>


      <ng-template pTemplate="footer" let-columns>
        <tr id="rangee-total" style="background-color: lightgray; height: 38px">
          <td *ngFor="let col of columns; let i = index"
              style="text-align: center; width: 250px">

            <span>{{col.total}}</span>

          </td>
        </tr>
      </ng-template>

    </p-table>

  </div>
</div>
